# ===========================
# Maven 构建输出目录
# ===========================
# Maven 默认的构建输出目录，一般为 target/
target/

# ===========================
# IDE 相关配置文件和目录
# ===========================
# IntelliJ IDEA 相关文件和目录
.idea/
*.iml
*.iws

# Eclipse 相关配置文件和目录
.project
.classpath
.settings/

# NetBeans 相关配置文件和目录
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VSCode 相关配置文件和目录
.vscode/

# ===========================
# 操作系统生成的文件
# ===========================
# macOS 系统文件
.DS_Store

# Windows 系统缩略图文件
Thumbs.db

# ===========================
# 日志文件及临时文件
# ===========================
# 日志文件
logs/
*.log

# 临时文件
*.tmp
